body {
  margin: 0;
  font-family: "product-sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/src/assets/image/bgImage.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@font-face {
  font-family: "product-sans-bold";
  src: local("futura"),
    url("/src/assets/font/product-sans/Product\ Sans\ Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "product-sans";
  src: local("futura"),
    url("/src/assets/font/product-sans/Product\ Sans\ Regular.ttf")
      format("truetype");
}
.main {
  margin: 189px auto 0;
  width: 50%;
  min-height: 100vh;
}

.section-title,
.section-title-succcess {
  font-weight: 700;
  font-size: 36px;
  color: #4e598c;
  margin-bottom: 59px;
}
.tab-container {
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.tab {
  font-weight: 700;
  margin-top: 0;

  font-size: 24px;
  color: #bdbdbd;
  margin-bottom: 27px;
}
.tab.active-tab {
  color: #f2994a;
  position: relative;
}
.tab.active-tab::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -32px;
  background: #f2994a;
  border-radius: 10px;
  height: 10px;
  width: 100%;
}
.personal-info {
  margin-top: 84px;
}
label {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  position: relative;
}
input,
select {
  padding: 17px 22px;
  border: 1px solid #4e598c;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #4f4f4f;
  width: 100%;
  margin-top: 11px;

  /* margin-bottom: 44px; */
}
input:focus,
select:focus {
  border: 1px solid #4e598c;
  outline: none;
}
select {
  appearance: none;
  background-image: url("/src/assets/image/select.png");
  background-repeat: no-repeat;
  background-position: right 2rem center;
  background-size: 1em;
}

label.required::after {
  content: "*";
  position: absolute;
  top: 0;
  margin-left: 6px;
  color: #eb5757;
}
.form-info {
  margin-top: 11px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;

  color: #817e9e;
}
::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #4f4f4f;
}
.next-button {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  border-radius: 10px;
  padding: 14px 97px;
  border: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.next-button:hover {
  background: linear-gradient(180deg, #ecbd32 0%, #f09241 100%);
}
.cancel-text {
  font-weight: 700;
  font-size: 20px;
  margin-left: 84px;
  color: #4e598c;
  cursor: pointer;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 33px;
}
input.cvv {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  padding: 14px 0 !important;
  text-align: center;
}

input.cvv::placeholder {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
input.expiry-date {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* text-align: center; */
  color: #4f4f4f;
  padding: 14px 31px !important;
}
input.card-details {
  padding: 14px 16px !important;
}
.form-grid-3 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-column-gap: 42px;
}
.confirm-payment {
  margin-top: 47px;
}
.payment-container {
  padding: 0 89px 0 38.2px;
  border-bottom: 1px solid #817e9e;
  margin-bottom: 39px;
}
.confirm-payment-card {
  background: white;
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
  height: 405px;
  margin-bottom: 69px;
}
.confirm-payment-card-header {
  background: #2f80ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 130px 20px 80px;
  border-radius: 10px 10px 0 0;
}
.payment-wrapper {
  padding: 20px 42px 20px 42px;
  margin-top: 50px;
}
.confirm-payment-card-header p {
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin: 0;
}
.payment-description,
.payment-value {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #4e598c;
}
.payment-value {
  font-weight: 700;
}
.payment-value.text-black {
  color: black !important;
}
.total-payout-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #817e9e;
  border-radius: 5px;
  padding: 14px 70px 14px 19.72px;
}
.payment-success-card {
  /* height: 480px; */
  /* width:801px; */
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
  padding: 67px 0 90px 0;
  margin-top: 337.5px;
}
.payment-success-card-wrapper {
  margin: auto;
  width: 75%;
}
.success-icon-wrapper {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-success-text,
.return-link {
  font-weight: 400;
  font-size: 20px;
  color: #4f4f4f;
  margin-top: 0;
  margin-bottom: 38px;
}
.return-link {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-decoration: underline !important;
}
.ctrl-container {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .main {
    margin: 90px auto 0;
    width: 80%;
  }
  .section-title {
    font-weight: 700;
    font-size: 1.8rem;
    color: #4e598c;
    margin-bottom: 59px;
  }
  .section-title-succcess {
    font-size: 1.6rem !important;
    margin-top: 12px;
  }

  .tab {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .tab.active-tab::before {
    margin-bottom: 12px;
  }
  .tab-container {
    margin-bottom: 30px;
  }
  .personal-info {
    margin-top: 20px;
  }
  input {
    margin-top: 8px;
  }
  label {
    font-size: 16px;
  }
  input,
  select {
    padding: 14px 22px;
    font-size: 16px;
    /* margin-bottom: 44px; */
  }
  ::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #4f4f4f;
  }
  .form-grid {
    display: block;
  }
  .form-grid div:last-child {
    margin-top: 11px;
  }
  .next-button {
    width: 100%;
    font-size: 18px;
  }
  .form-grid-3 {
    display: block;
  }
  .confirm-payment {
    margin-top: 47px;
  }

  .confirm-payment-card-header {
    background: #2f80ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  .payment-wrapper {
    padding: 20px;
    margin-top: 50px;
  }
  .payment-description {
    font-size: 16px;
  }
  .payment-value {
    font-size: 14px;
  }
  .payment-container {
    padding: 0;
  }
  .total-payout-wrapper {
    padding: 14px;
  }
  .payment-success-text,
  .return-link {
    font-size: 16px;
  }
  .ctrl-container {
    display: block;
  }
  .payment-success-card {
    margin-top: 30.5px;
  }
}
